<div class="feature-row">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 img-col visible-xs">
        <%= image_tag "featured-2.png" %>
      </div>
      <div class="col-sm-6 text-col my-5">
        <h3>打造亚太区的无现金社会，让数字货币取代传统纸币。</h3>
        <p class="text-muted">IGC集团是全球领先的数字加密货币解决方案供应商，专注于ICO领域，坚持稳健经营、持续创新、开放合作，在数字加密货币以及数字加密货币销售领域构筑了端到端的解决方案优势，并致力于使能未来信息社会、构建更美好的全联接世界。</p>
        <%= link_to "联系我们", root_path, class: "btn btn-primary btn-lg" %>
      </div>
      <div class="col-sm-6 img-col hidden-xs">
        <%= image_tag "featured-2.png" %>
      </div>
    </div>
  </div>
</div>


<div class="feature-row">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6 img-col">
        <%= image_tag "featured-3.png", class: "md" %>
      </div>
      <div class="col-sm-6 text-col my-5">
        <h3>打造亚太区的无现金社会，让数字货币取代传统纸币。</h3>
        <p class="text-muted">IGC集团是全球领先的数字加密货币解决方案供应商，专注于ICO领域，坚持稳健经营、持续创新、开放合作，在数字加密货币以及数字加密货币销售领域构筑了端到端的解决方案优势，并致力于使能未来信息社会、构建更美好的全联接世界。</p>
        <%= link_to "联系我们", root_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>
